<% include ../partials/header %>
<div class="container">
<header class="jumbotron">
    <div class="container"></div>
    <h1>Welcome to AutoReview!</h1>
    <p>Your portal to detailed and reliable automobile reviews.</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/vehicles/new">Write a New Review</a>
        </p>
        </div>
</header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% vehicles.forEach(function(vehicle){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= vehicle.image %>">
                    <div class="caption">
                        <h4><%= vehicle.make %></h4>
                    </div>
                <a href="/vehicles/<%= vehicle._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        <% }); %>
    
    </div>
</div>

<% include ../partials/footer %>