<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Write A New Review</h1>
        <div style="width:30%; margin: 25px auto;">
    <form action="/vehicles" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="make" placeholder="Make">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="model" placeholder="Model">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="transmission" placeholder="Transmission Type">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="fuel_type" placeholder="Fuel Type">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="price" placeholder="Price" min="0" step="1000">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="image" placeholder="Image URL">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="dDscription">
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-default btn-primary btn-block">Submit</button>
        </div>
    </form>
    <a href="/vehicles">Go Back</a>
    </div>
    </div>
</div>
<% include ../partials/footer %>