

h1 {
	text-align: center;
}

form {
	display: flex;
	justify-content: center;
}

form input, button {
	margin: 20px 10px;
}

form button {
	background-color: blue;
	color: white;
	box-shadow: 10px 10px 5px #888888;
}