

h1 {
	text-align: center;
}

form {
	display: flex;
	justify-content: center;
	border: 2px solid black;
}

form input, button {
	margin: 20px 10px;
}

form button {
	background-color: blue;
	color: white;
	box-shadow: 2px solid gray;
}