

h1 {
	text-align: center;
}

form {
	width: 25%;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 auto;
}

form input, button {
	margin: 20px 10px;

}

form button {
	background-color: blue;
	color: white;
	box-shadow: 5px 5px 5px #888888;
}